.food-scheduler {
    font-family: 'Roboto', sans-serif;

    .menu-set {
        background: rgba(255, 255, 255, .5);
        padding: 10px;

        > * + * {
            margin-top: 10px;
        }

        .set-price {
            font-weight: bold;
        }

        + * {
            margin-top: 10px;
        }
    }
}
