@keyframes marquee {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-100%);
    }
}

:local .container {
    background: black;
    padding: 10px 0;
}

:global .marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
}
