@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,100,900);

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

:local .container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://unsplash.it/1920/1080/?image=993);
    background-size: cover;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    color: white;
}
